html{
font-size: 62.5%;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.7rem;
    background-image: url(./Assets/im-bg-code0.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    color: #D9D9D9;
    overflow: hidden;
    /* background-color: rgba(0, 0, 0, 0.3); */
    z-index: -1;

}
/* 

navabar style */
nav{
    margin: 15px 0px 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .img-logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 0;
} */
.logo-name{
    margin-left: 20px;
    /* border: #484848 solid 1px; */
    box-shadow: 5px 5px 10px rgb(56, 56, 56, .8);
}
.navbar-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links li, a {
    list-style: none;
    display: inline-block;
    padding: 3px 20px;
    text-decoration : none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    color: #ffff;
}

li a:hover{
    background-color: #D9D9D9;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
  }


  /* Profile pic */

.info{
    position: relative;
}
.myPic{
    position: absolute;
    top: 80px;
    left: 300px;
    /* background: url(./Assets/clean-cut-img.jpg); */
    /* background-size: 250px; */
    background-repeat: no-repeat;
    opacity: .75;
    z-index: 4;
}


.content{
    position: absolute;
    left: 550px;
    top: 220px;
    z-index: 5;
    color: #fff;;
    font-weight: bold;
    font-size: 1.5rem;
}

.content h3{
    margin-top: 5px;
}
.content p{
    margin-top: 20px;
}

.fa-chevron-right{
    position: absolute;
    left: calc(100vw - 15%);
    top: 50vh;
    z-index: 4;
}

i{
    font-size: 36px;
}
.fa-chevron-left{
    position: absolute;
    left: 10%;
    top: 50vh;
    z-index: 4;
}

i:hover{
    cursor: pointer;
}

.social-media{
    display: flex;
    justify-content: center;
    position: relative;
    top: 370px;

}

.social-media img{
    border-radius: 50%;
    padding: 20px;
    width: 70px;
    height: 70px;
}

.slides-container {
    position: relative;
  }
  
.slides-list {
    list-style-type: none;
    counter-reset: slide-counter;
    position: absolute;
    left: 48.5%;
    top: 430px;
  }
  
  .slide {
    display: flex;
  }

  .slides-list .slide{
    display: inline-block;
    padding: 5px 5px;
  }
  
  .slide::before {
    content: '';
    position: absolute;
    /* top: -10px;
    left: 0; */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D9D9D9;
  }
  
  .slide::after {
    /* content: counter(slide-counter); */
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
  }
  
  .slide:first-child::before {
    background-color: rgb(56, 56, 56);
  } 
  
  .slide:first-child::after {
    display: none;
  }
  
.slide.active {
    display: block;
  }